.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: rgb(238, 53, 6);
  padding: 10px;
}

.grid-container > div {
  background-color: #09eea9;
  color:#1e1c1c;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.item1 {
  grid-column: 1 / span 2;
}

.item2 {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.item5 {
  grid-column: 1 / span 3;
}